@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

:root {
  --text-color: rgb(31, 31, 31);
  --link-hover: rgb(255, 35, 134);
  --bg-color: #cecece;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
#root {
  width: 100%;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}
#root {
	background-image: url("./assets/blob-2.png");
	background-position: bottom right;
	background-size: 400px;
	background-repeat: no-repeat;
}
h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
}
h3 {
  margin-bottom: 15px;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--link-hover);
}

/* NAVIGATION */
nav {
  background-color: #222;
  color: #fff;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.navigation {
  width: 1040px;
  max-width: 100%;
  font-weight: 500;
  display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.navigation__menu {
  display: flex;
	flex-wrap: wrap;
}
.navigation__menu a {
	margin-right: 3rem;
}
/* MAIN PAGE */
.main-page-title {
  font-size: 50px;
  margin-bottom: 20px;
}

.main-page {
  width: 1020px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 10%;
  margin: 40px 0;
}

.main-page-row {
  margin-top: 50px;
  display: flex;
	flex-wrap: wrap;
  column-gap: 2rem;
}

.main-page-row::after {
  position: absolute;
  background-image: url("./assets/blob-1.png");
  content: "";
  z-index: -12;
  width: 400px;
  height: 400px;
  right: 100px;
  top: 150px;
  position: absolute;
  background-size: cover;
}

.main-page-row {
  /* position: absolute; */
  /* background-image: url("./assets/blob-2.png");
	background-position: bottom right; */
  /* content: "";
  z-index: -12;
  width: 400px;
  height: 400px;
  left: 150px;
  top: 350px;
  position: absolute;
  background-size: cover; */
}

/* PREVIEW */
.preview-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0efef;
  border-radius: 25px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  padding: 25px;
  margin: 10px;
}
.preview-card img {
  width: 400px;
	max-width: 100%;
}
.preview-card h3 {
  /* font-family: 'Yeseva One', cursive; */
  font-size: 20px;
  font-weight: 500;
  margin: 15px 0;
}

.preview-card-btn {
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
}

/* MEMBER PAGE */
.member-info-wrapper {
  width: 1020px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-bottom: 60px;
}

.welcome-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.photo-container {
  max-width: 600px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hello-text {
  font-family: "Yeseva One", cursive;
  position: absolute;
  font-size: 12rem;
  top: -40px;
  left: 0;
  z-index: 0;
}
.name-text {
  font-size: 1.5rem;
  position: absolute;
  top: 10rem;
  left: 30.5rem;
}
.member-image {
  width: 100%;
  min-height: 300px;
  position: relative;
  z-index: 1;
}
.skills-container {
  position: absolute;
  top: 14rem;
  right: 0;
  z-index: 2;
  width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100% - 16rem);
  background-color: rgba(113, 113, 113, 0.175);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 16px;
}
.about-container {
  font-size: 1.2rem;
  line-height: 1.5;
  width: 100%;
}

.progress-bar__header {
  font-size: 20px;
  font-weight: 700;
}
.progress_container {
  width: 100%;
  height: 25px;
  background-color: #f4f4f4;
  margin-top: 5px;
  border-radius: 8px;
  overflow: hidden;
}
.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 100%;
  color: #fff;
}

.components-wrapper {
  background-color: rgba(113, 113, 113, 0.175);
  backdrop-filter: blur(10px);
  padding: 20px 40px 30px;
  margin-bottom: 10px;
  border-radius: 16px;
}
button {
  border: none;
  padding: 20px 25px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
}
.round {
  border-radius: 32px;
}
button .square {
  border-radius: 0;
}
.fav-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border-radius: 50%;
  cursor: pointer;
  color: red;
}
@media screen and (max-width: 1024px) {
  .hello-text {
    font-size: 11rem;
  }
  .name-text {
    font-size: 1.5rem;
    margin-top: -20px;
  }
  .skills-container {
    position: static;
    top: 0;
    width: 100%;
  }
  .member-info-wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 920px) {
  .hello-text,
  .name-text {
    position: static;
    top: 0;
    left: 0;
  }
  .hello-text {
    font-size: 6.2rem;
  }
  .name-text {
    font-size: 1.4rem;
    margin-top: -10px;
  }
  .skills-container {
    position: static;
    top: 0;
    width: 100%;
  }
  .member-info-wrapper {
    width: 100%;
  }
  .member-image {
    margin-top: -20px;
  }
}

@media only screen and (max-width: 450px) {
  h2 {
    font-size: 20px;
  }
  .hello-text {
    font-size: 4.5rem;
  }
  .name-text {
    font-size: 1rem;
    margin-top: -10px;
  }
  .skills-container {
    position: static;
    width: 100%;
    top: 0;
    padding-top: 15px;
    margin-top: -40px;
  }
  .member-info-wrapper {
    width: 100%;
  }
}
